<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Health Rival</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a <% if (page==='home' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a <% if (page==='competition' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/competition">Competition</a>
      </li>
      <li class="nav-item">
        <a <% if (page==='buddy-system' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/buddy-system">Buddy System</a>
      </li>
      <li class="nav-item">
        <a <% if (page==='forums' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/forums">Forums</a>
      </li>
      <li class="nav-item">
        <a <% if (page==='goals' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/goals">Goals</a>
      </li>
      <li class="nav-item">
        <a <% if (page==='schedule' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/schedule">Schedule</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">My Profile</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="https://v4-alpha.getbootstrap.com/examples/jumbotron/#">My Profile</a>
          <a class="dropdown-item" href="https://v4-alpha.getbootstrap.com/examples/jumbotron/#">Friends</a>
          <a class="dropdown-item" href="https://v4-alpha.getbootstrap.com/examples/jumbotron/#">Settings</a>
          <a class="dropdown-item" href="/signout">Sign Out</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>