<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <% include ./partials/header %>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">What is Health Rival?</h1>
      <p>Health Rival is a community in which you can compete with friends and get motivated to get fit as well as stay
        organized in your life. Find friends, share ideas, and connect with the community!</p>
      <p><a class="btn btn-primary btn-lg" href="/signout" role="button">Sign
          Out &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Competition</h2>
        <p>Compete against friends and other users to see who is leading in weights and reps for each exercise.
          Motivate yourself to get to the gym and make gains! *Please be honest when using this feature as integrity is
          everything.</p>
        <p><a class="btn btn-secondary" href="/competition" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Buddy System</h2>
        <p>Find friends who live nearby to go to the gym with! Going alone can become tedious and boring (unless you
          enjoy it). If you have a friend, you might just find yourself excited to go and keep each other honest with
          your goals.</p>
        <p><a class="btn btn-secondary" href="/buddy-system" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Goals</h2>
        <p>Set goals for yourself to keep track of what you want to achieve with not only your health, but with your
          life. Check here daily to remind yourself what you want to achieve in life.</p>
        <p><a class="btn btn-secondary" href="/goals" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Schedule</h2>
        <p>Get organized! Keep a schedule to record when you plan to go to the gym and record other activities so that
          you know when you have free time! Feel free to share with friends.</p>
        <p><a class="btn btn-secondary" href="/schedule" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Forums</h2>
        <p>Get involved with the community. The forums are a place where you can share and view various topics ranging
          from diets to workouts to ideas for what to do next. The possibilities are endless!</p>
        <p><a class="btn btn-secondary" href="/forums" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <% include ./partials/footer %>

  </div>

  <% include ./partials/scripts %>

</body>

</html>