/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 2rem;
}

.goalSpacing {
    margin-left: 20px;
    width: 90%;
    height: 100px;
    padding: 20px;
    border: 1px solid darkorange;
    border-radius: 8px;
    alignment: center;
}






