<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/shared/head %> <% include
    ../../partials/shared/styles %>
  </head>

  <body>
    <% include ../../partials/components/header %>

    <div class="container body-section">
      <h1 class="text-center">Competition</h1>

      <% include ../../partials/components/footer %>
    </div>

    <% include ../../partials/shared/scripts %>
  </body>
</html>
