<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/shared/head %> <% include
    ../../partials/shared/styles %>
    <link href="/css/main/forums.css" rel="stylesheet" />
  </head>

  <body>
    <% include ../../partials/components/header %>

    <div class="container body-section forums-container">
      <h1 class="text-center">Forums</h1>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search posts" />
      </div>

      <div class="media">
        <img src="./images/test.jpg" alt="placeholder" />
        <div class="media-body">
          <h5 class="mt-0">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
          scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
          vulputate fringilla. Donec lacinia congue felis in faucibus.
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-secondary">10 Likes</button>
            <button type="button" class="btn btn-secondary">5 Shares</button>
            <button type="button" class="btn btn-secondary">
              100 Comments
            </button>
          </div>
        </div>
      </div>

      <div class="media">
        <img src="./images/test.jpg" alt="placeholder" />
        <div class="media-body">
          <h5 class="mt-0">Media heading</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
          scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
          vulputate fringilla. Donec lacinia congue felis in faucibus.
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-secondary">10 Likes</button>
            <button type="button" class="btn btn-secondary">5 Shares</button>
            <button type="button" class="btn btn-secondary">
              100 Comments
            </button>
          </div>
        </div>
      </div>

      <% include ../../partials/components/footer %>
    </div>
  </body>

  <% include ../../partials/shared/scripts %>
</html>
