<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/shared/head %> <% include
    ../../partials/shared/styles %>
    <link href="/css/user/user.css" rel="stylesheet" />
  </head>

  <body>
    <% include ../../partials/components/header %>

    <div class="user-profile-container container body-section">
      <h1 class="text-center">User Profile</h1>

      <form class="user-items row justify-content-center">
        <div class="user-avatar-container col-sm-4">
          <img
            class="user-avatar"
            src="../../images/test.jpg"
            alt="placeholder"
          />
          <button id="avatarInputTrigger" class="btn btn-primary btn-block">
            Change Avatar
          </button>
        </div>
        <div class="col">
          <input
            id="avatarInput"
            name="avatar"
            type="file"
            class="form-control-file"
            accept="image/*"
          />

          <div class="row">
            <label class="col-sm-2 col-form-label" for="inputEmail"
              >First Name</label
            >
            <div class="col">
              <input
                name="firstName"
                type="text"
                class="form-control"
                value="<%= user.firstName %>"
              />
            </div>
          </div>

          <div class="row">
            <label class="col-sm-2 col-form-label" for="inputEmail"
              >Last Name</label
            >
            <div class="col">
              <input
                name="lastName"
                type="text"
                class="form-control"
                value="<%= user.lastName %>"
              />
            </div>
          </div>

          <div class="row">
            <label class="col-sm-2 col-form-label" for="inputEmail">City</label>
            <div class="col">
              <input
                name="city"
                type="text"
                class="form-control"
                value="<%= user.city %>"
              />
            </div>
          </div>

          <div class="row">
            <label class="col-sm-2 col-form-label" for="inputEmail"
              >State</label
            >
            <div class="col">
              <input
                name="state"
                type="text"
                class="form-control"
                value="<%= user.state %>"
              />
            </div>
          </div>

          <div class="row">
            <label for="gender" class="col-sm-2 col-form-label">Gender</label>
            <div class="col">
              <select class="form-control" id="gender">
                <option value="unspecified">Unspecified</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>

          <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </form>

      <% include ../../partials/components/footer %>
    </div>

    <% include ../../partials/shared/scripts %>
    <script src="/js/user/user-profile.js"></script>
  </body>
</html>
