<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

  <title>Health Rival</title>

  <% include ../partials/styles %>
  <link href="css/buddy-system.css" rel="stylesheet">
</head>

<body>

  <% include ../partials/header %>

  <div class="container buddy-system-container body-section">
    <div class="row justify-content-center">
      <div class="col-10">
        <h1 class="text-center">Buddy System</h1>
        <div class="form-group">
          <input class="form-control" type="text" id="city-input" placeholder="Enter your city..." />
        </div>

        <div class="row">
          <div class="col-3">
            <div class="form-group flex-row">
              <label for="exampleFormControlSelect1">Distance</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>
                  < 10 miles</option> <option>
                    < 100 miles</option> <option>> 100 miles
                </option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group flex-row">
              <label for="exampleFormControlSelect1">Gender</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>All</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Enter name...">
            </div>
          </div>
        </div>

        <div class="media">
          <img class="mr-3" src="./images/test.jpg" alt="placeholder">
          <div class="media-body">
            <div class="info">
              <h5>Name</h5>
              <h5>Short Info</h5>
              <h5>Address</h5>
            </div>
            <button class="btn btn-primary">Send Message</button>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>
  </div>

  <% include ../partials/scripts %>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="./js/buddy-system.js"></script>
</body>

</html>