<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

  <title>Health Rival</title>

  <!-- Bootstrap core CSS -->
  <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="style.css" rel="stylesheet">
</head>

<body>

  <% include ../partials/header %>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Competition</h1>
    </div>
  </div>

  <div class="container">

    <% include ../partials/footer %>

  </div>

  <% include ../partials/scripts %>
</body>

</html>