<!doctype html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <% include ../partials/styles %>
  <link href="css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <form method="POST" action="/signup" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
           autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword" class="sr-only">Confirmation Password</label>
    <input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="Confirmation Password"
           required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <a href="/signin" class="text-center">I already have an account. Click here</a>
  </form>
</body>

</html>