<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a data-i18n="app-name | on header"  class="navbar-brand" href="/">Health Rival</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a data-i18n="home | on header" <% if (page==='home' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/"></a>
      </li>
      <li class="nav-item">
        <a data-i18n="competition | on header"<% if (page==='competition' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/competition"></a>
      </li>
      <li class="nav-item">
        <a data-i18n="buddy system | on header" <% if (page==='buddy-system' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/buddy-system"></a>
      </li>
      <li class="nav-item">
        <a data-i18n="forums | on header" <% if (page==='forums' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/forums"></a>
      </li>
      <li class="nav-item">
        <a  data-i18n="goals | on header"<% if (page==='goals' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/goals"></a>
      </li>
      <li class="nav-item">
        <a data-i18n="schedule | on header" <% if (page==='schedule' ) { %> class="nav-link active"
          <% } else { %>
          <% } %> class="nav-link" href="/schedule"></a>
      </li>
      <li style="cursor: pointer" class="nav-item dropdown">
        <a data-i18n="user | on header" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a data-i18n="my profile | on header" class="dropdown-item" href="/user/profile"></a>
          <a data-i18n="friends | on header" class="dropdown-item" href="/">Friends</a>
          <a data-i18n="settings | on header" class="dropdown-item" href="/user/settings"></a>
          <a data-i18n="sign out | on header" class="dropdown-item" href="/signout"></a>
        </div>
      </li>
    </ul>
  </div>
</nav>